<div style="margin-top: 5%;">
    <footer class="footer">
        <div class="row">
            <div class="col-md-2 col-12">
                <p class=" text-center mt-3">© 2022
                </p>
            </div>
            <div class="col-md-10 col-12">
                <section class="d-flex justify-content-start">
                    <a class="link">
                        General Terms & Conditions</a>
                    <a [routerLink]="'faq'" class="link">
                        FAQ</a>
                    <a class="link">
                        Contact US</a>
                </section>
            </div>
        </div>







    </footer>

</div>