.footer {
  background: white;
  width: 100%;
  color: black;
  overflow: hidden;
}

a.footerlogo {
  color: black;
  width: 10%;
  text-decoration: none;
}

a.link {
  text-decoration: none;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 80px;
  cursor: pointer;
  height: 25px;
}

@media screen and (max-width: 786px) {
  a.link {
    margin-left: 5px;
  }
}
